{% extends_admingenerated "NitraCuponBundle:CuponList:row.html.twig" %}

{% trans_default_domain "NitraCuponBundle" %}

{% block list_td_column_type %}
    {% if Cupon.type %}
        {{ ('fields.type.choices.' ~ Cupon.type)|trans }}
    {% endif %}
{% endblock list_td_column_type %}