{% extends_admingenerated "NitraCuponBundle:CuponNew:index.html.twig" %}

{% trans_default_domain "NitraCuponBundle" %}

{% block javascript_head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('label[for="{{ form.discount.vars.id }}"]').append('<span></span>');
            $('#{{ form.type.vars.id }}').change(function() {
                if ($(this).val() == 'percent') {
                    $('label[for="{{ form.discount.vars.id }}"] span').html(' ({{ 'fields.discount.suffix.percent'|trans }})');
                } else {
                    $('label[for="{{ form.discount.vars.id }}"] span').html(' ({{ 'fields.discount.suffix.fixedSumm'|trans }})');
                }
            });
        });
    </script>
{% endblock %}